.w3-sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  color: #fff;
  background-color: #ff6700;
  border-color: #F7882F;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.ng-hide:not(.ng-hide-animate) {
  /* These are just alternative ways of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

h2{
  color: #ff6700 !important;
  font-size: 50px !important;
  vertical-align:   middle !important;
  font-family: "Times New Roman";
  padding-left: 5px;
  padding-right: 10px;
}

h3{
  padding-top: 30px;
  padding-bottom:   30px;
  padding-left: 10px;
  padding-right: 10px;
    size: 50px !important;
    color: #ebebeb !important;
    vertical-align:   middle !important;
    font-family: "Tahoma";
}

.section-title {
  color: #ff6700 !important;
  font-family: "Tahoma";
  font-size: 25px;
}

.card-title{
  color: #4267b2 !important;
  font-size: 25px !important;
  font-family: "Tahoma";
}
.card-text{
  font-size: 20px;
  font-family: "Tahoma";
}
.header-content-inner img {
  float: left;   
}

.btn_blue{
  background-color:   #4267b2 !important  ;
}

.light_back{
  background-color: #004e98 !important;
}
.full_width{
  min-width:  100px !important;
  max-width:  500px !important;
  width: auto !important;
}
.menu_button
{
  width: 100%;
  color: #fff;
  background-color: #ff6700 !important;
  border-color: #F7882F !important;
  margin: 2px;
  font-size: 20px !important;
}

.generate_button
{
  width: 100%;
  color: #fff;
  background-color: #Fff6700 !important;
  border-color: #F7882F !important;
  margin: 2px;
  font-size: 32px !important;
}

.radio_button
{
  justify-content:  left;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;

}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */


/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}
/* app css stylesheet */

#map {
height: 100%;
}

#map-btn-container {
height: 100%;
position: relative;
float: right;
min-width: 80%;

}

.map-pos {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

.rate-btn-container {
display:inline-block;
left: 30%;

}

.modal-backdrop.show {
  opacity: 0 !important;
  display: none !important;
}

.modal-top {
  z-index: 10000 !important;
}
.rate {
position: absolute;
bottom: 20px;

}
.rate {
z-index: 1;
}

.rate-btn {
width: 100px;
border-width: 0px;
background-color: transparent;
}

.btn-hide {
  display: none;
}

.no-itin {
  display: none !important;
}



.s_message {
  padding: 5px;
  color: white !important;
}
#like{
height: 80px;
background-image: url("https://i.imgur.com/MvzsVKy.png");
background-repeat: no-repeat;
}


#dislike {
height: 80px;
background-image: url("https://i.imgur.com/IPlQVpg.png");
background-repeat: no-repeat;
margin-left: 300px;
}


form {
position: relative;
padding-top: 16px;
padding-bottom: 16px;
margin : 0 auto;
border: 10px;

background: #FFF url(background.jpg);
}

input[type=search] {
border: 1px dotted #999;
border-radius: 0;

-webkit-appearance: none;
}

input, select, textarea {
font-family : inherit;
font-size   : 100%;
}

output { 
position: absolute;
background-image: linear-gradient(top, #444444, #999999);
width: 40px; 
height: 30px; 
text-align: center; 
color: white; 
border-radius: 10px; 
display: inline-block; 
font: bold 15px/30px Georgia;
bottom: 175%;
left: 0;
margin-left: -1%;
}
output:after { 
content: "";
position: absolute;
width: 0;
height: 0;
border-top: 10px solid #999999;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
top: 100%;
left: 50%;
margin-left: -5px;
margin-top: -1px;
}

.logo {
  padding-top: 5px;
  display: block; 
  z-index: 1;
  vertical-align: top;
  position: absolute;
  right: 5%;
}

 .popover {
        width: 300px !important;
        top: 0px !important;
    }