<!-- TODO: loop through all itineraries -->
<div class="card" ng-repeat="itinerary in likedItineraries" style="margin-top: 20px;">
  <h3 class="section-title">Itinerary {{$index + 1}}</h3>
  <div class="card" style="width: 100%;" ng-repeat="event in itinerary">
    <div class="alert alert-light">
      <h5 class="card-title">{{event[0].event_name}}</h5>
    </div>
    <div class="collapse" id= "{{'collapseDetail' + $parent.$index + $index}}">
    <div class="card-body">
      
      
        <h5 class="card-title">Location {{$ctrl.intToChar($index)}}</h5>
        <p class="card-text">{{event.event.event_name}}</p>
        <p class="card-text">{{event[1].address1}}</p>
        <p class="card-text">{{event[1].city + ", " + event[1].state + ", " + event[1].zip_code}}</p>
        <p class="card-text"></p>
        <p class="card-text">Begin: 

    {{((event[2] - (event[2] % 60)) / 60) < 10 ? 
    "0":""}}{{((event[2] - (event[2] % 60)) / 60) < 12 ?((event[2] - (event[2] % 60)) / 60): ((event[2] - (event[2] % 60)) / 60) - 12}}:{{(event[2] % 60) < 10 ? "0":""}}{{event[2] % 60}}{{(event[2] - (event[2] % 60)) / 60 < 13 ? 
    "am":"pm"}}


  </p>
        <p class="card-text">End: {{((event[3] - (event[3] % 60)) / 60) < 10 ? 
    "0":""}}{{((event[3] - (event[3] % 60)) / 60) < 12 ?((event[3] - (event[3] % 60)) / 60): ((event[3] - (event[3] % 60)) / 60) - 12}}:{{(event[3] % 60) < 10 ? "0":""}}{{event[3] % 60}}{{(event[3] - (event[3] % 60)) / 60 < 13 ? 
    "am":"pm"}}</p>
 
    </div>
  </div>
  </div>
  <button class="btn btn-outline-info" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDetail01" ng-click="$ctrl.showElements($index)">View details</button>
</div>