<!-- TODO: loop through all itineraries -->
<div class="card" ng-repeat="itinerary in $ctrl.likedItineraries" style="margin-top: 20px;">
  <h3>Itinerary {{$index + 1}}</h3>
  <div class="card" style="width: 100%;" ng-repeat="event in itinerary">
    <div class="alert alert-light">
      <h5 class="card-title">{{event.event.event_name}}</h5>
    </div>
    <div class="collapse" id= "{{'collapseDetail' + $parent.$index + $index}}">
    <div class="card-body">
      
      
        <h5 class="card-title">Location {{$ctrl.intToChar($index)}}</h5>
        <p class="card-text">{{event.event.event_name}}</p>
        <p class="card-text">{{event.venue.address1}}</p>
        <p class="card-text">{{event.venue.city + "," + event.venue.state + "," + event.venue.zip_code}}</p>
        <p class="card-text"></p>
        <p class="card-text">Begin: {{event.start}}</p>
        <p class="card-text">End: {{event.end}}</p>
 
    </div>
  </div>
  </div>
  <button class="btn btn-outline-info" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDetail01" ng-click="$ctrl.showElements($index)">View details</button>
</div>