<div class="w3-sidebar w3-bar-block w3-card w3-animate-left light_back" style="display:block; width: 20%;" id="sidebar">

  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4 light_back">
        <button class="btn btn-primary menu_button" ng-click="$ctrl.home()">Home </button>
        <button class="btn btn-primary menu_button" ng-click="$ctrl.getLikedItineraries()" ng-if="isLoggedIn">Liked Itineraries</button>
        <button type="button" class="btn btn-primary menu_button" data-toggle="modal" data-target="#settingsModal">
          Settings
    </button>
        <button class="btn btn-primary menu_button" ng-show="!isLoggedIn" data-toggle="modal" data-target="#fbLoginWindow">Log In</button>
        <button class="btn btn-primary menu_button" ng-show="isLoggedIn" ng-click="$ctrl.logout()">Log Out</button>
      </div>
    </div>
    <nav class="navbar navbar-dark light_back">
       <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  
    <ng-include src="$ctrl.sidebarTemplate"></ng-include>
  <!--sidebar body-->
  <div ng-click="showDiv=true" 
  <!--sidebar body-->

  <div  id="intro_message" >
       <h2>Welcome to plan.it!</h2>
       <h3> Set your parameters in the settings menu above and click the generate button below to create your first itinerary. Your next adventure awaits!</h3>
        <button id="Generate" type="button" class="generate_button" ng-click="$ctrl.generate()" 
        ng-show="!showDiv">Generate</button>
 
  </div> 
</div>
</div>

<!-- modal for Settings with default values -->
<!-- Modal -->
<div class="modal" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalTitle">Set your custom itinerary generation parameters!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-inline">
            <!-- class="col-2 col-form-label" -->
            <p data-toggle="popover" data-content="Enter in the time you want your itinerary to begin. The start time cannot be later than 7pm, as there will not be enough events to generate a sufficient itinerary.">&#9432;&nbsp;&nbsp;</p><label for="example-time-input" >Start Time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <div style="float:right;">
            <select name="hourSelect" ng-model="settings.startTimeHours" ng-required='required'>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03 </option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <select name="minuteSelect" ng-model="settings.startTimeMinute" required>
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>
            <select name="sectionSelect" ng-model="settings.startTimeSection" required>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
            </div>      
          </div>
          <div class="form-inline settings">
            <p data-toggle="popover" data-content="Enter in where you want your itinerary to start and end">&#9432;&nbsp;</p>
            <label for="formGroupExampleInput">Start Location&nbsp;&nbsp;</label>
            <select ng-model="settings.startLocationSelect" required>
              <option value="currentLocation"> Use my current location</option>
              <option value="chicagoCenter">Use the center of Chicago</option>
              <option value="givenLocation">Other</option>
            </select>

            <input ng-if="settings.startLocationSelect == 'givenLocation'" type="text" class="form-control" id="formGroupExampleInput" placeholder="Your start location" ng-model="settings.startLocationDisplay" required>
          </div>
          <div class="form-check settings">
            <label class="form-check-label">
              Only include free events
              <select name="sectionSelect" ng-model="settings.free" required>
                <option value="true">Yes, show me free events only</option>
                <option value="false">No, show me anything</option>
              </select>
              
            </label>

            <br>
          </div>
            <div class="form-group form-inline settings">

              <p data-toggle="popover" data-content="Select the maximum range in miles that you are willing to travel">&nbsp;&nbsp;&#9432;&nbsp;</p>
              <label>  Maximum Radius: {{settings.radius}} </label>
              <input type="range" class="form-control-range" id="formControlRange" min="2" max = "50" name ="radius" ng-model="settings.radius" required>
              
            </div>
          <!-- Radio Buttons for Transportation -->
          <fieldset class="form-inline settings">
              <legend>Transportation</legend>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="DRIVING" ng-model="settings.transport" checked>
                  Driving &nbsp; 
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="TRANSIT" ng-model="settings.transport">
                  Transit &nbsp;
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="WALKING" ng-model="settings.transport">
                  Walk &nbsp;
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="BICYCLING" ng-model="settings.transport">
                  Bike &nbsp;
                </label>
              </div>
            </fieldset>
          <!-- End of Radio Buttons -->

          <!-- settings submit and close buttons -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.saveSettings(settings)">Save changes</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
<!-- End bootstrap modal for settings -->


<!-- Modal for Logging in -->

<div class="modal" id="fbLoginWindow" tabindex="-1" role="dialog" aria-labelledby="loginWindowTitle aria-hidden="true">
  <div class="modal-dialog modal-dialog-centere" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginTitle">Log in with Facebook!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <button ng-click="$ctrl.facebook()" type="button" class="btn btn-success btn_blue" >Continue with Facebook</button>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- End Modal for Logging in -->
