<div class="w3-sidebar w3-bar-block w3-card w3-animate-left light_back" style="display:block; width: 20%;" id="sidebar">

  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4 light_back">
        <button class="btn btn-primary menu_button" ng-click="$ctrl.home()">Home </button>
        <button class="btn btn-primary menu_button" ng-click="$ctrl.getLikedItineraries()">Liked Itineraries</button>
        <button type="button" class="btn btn-primary menu_button" data-toggle="modal" data-target="#exampleModalLong">
          Settings
    </button>
        <button class="btn btn-primary menu_button" ng-show="!isLoggedIn" data-toggle="modal" data-target="#fbLoginWindow">Log In</button>
        <button class="btn btn-primary menu_button" ng-show="isLoggedIn" ng-click="$ctrl.logout()">Log Out</button>
      </div>
    </div>
    <nav class="navbar navbar-dark light_back">
       <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  
    <ng-include src="$ctrl.sidebarTemplate"></ng-include>
  <!--sidebar body-->
  <!-- <div ng-click="showDiv=true" 
        ng-show="!showDiv" class="ng-hide" id="intro_message" >
       <h2>Welcome to plan.it!</h2>
       <h3> Set your parameters in the settings menu above and click the generate button below to create your first itinerary. Your next adventure awaits!</h3>
        <button id="Generate" type="button" class="generate_button" ng-click="$ctrl.generate()" 
        ng-show="!showDiv">Generate</button>
<!--  -->
  </div> -->
</div>
</div>

<!-- modal for Settings with default values -->
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Set your custom itinerary generation parameters!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-inline">
            <!-- class="col-2 col-form-label" -->
            <p data-toggle="popover" data-content="Enter in the time you want your itinerary to begin">&#9432;&nbsp;&nbsp;</p><label for="example-time-input" >Start Time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input class="form-control" type="time" id="example-time-input" ng-model="settings.startTime">            
          </div>
          <div class="form-inline">
            <p data-toggle="popover" data-content="Enter in where you want your itinerary to start and end">&#9432;&nbsp;</p>
            <label for="formGroupExampleInput">Start Location&nbsp;&nbsp;</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Current Location" ng-model="settings.startLocation">
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" ng-model="settings.free">
              Only Include Free Events
            </label>
            <label>&nbsp;</label>
            <br>
          </div>
            <div class="form-group">

              <legend data-toggle="popover" data-content="Select the maximum range in miles that you are willing to travel">Maximum Radius: {{settings.radius}} &nbsp;&nbsp;&#9432;&nbsp;</legend>
              <input type="range" class="form-control-range" id="formControlRange" min="1" max = "50" name ="radius" ng-model="settings.radius">
              
            </div>
          <!-- Radio Buttons for Transportation -->
          <fieldset class="form-inline">
              <legend>Transportation</legend>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="driving" ng-change="$ctrl.assignTransport('DRIVING')" ng-model="settings.transport">
                  Driving &nbsp; 
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="transit" ng-change="$ctrl.assignTransport('TRANSIT')" ng-model="settings.transport">
                  Transit &nbsp;
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="walk" ng-change="$ctrl.assignTransport('WALK')" ng-model="settings.transport">
                  Walk &nbsp;
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="biking" ng-change="$ctrl.assignTransport('BIKE')" ng-model="settings.transport">
                  Bike &nbsp;
                </label>
              </div>
            </fieldset>
          <!-- End of Radio Buttons -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.saveSettings(settings)" data-dismiss = "modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End bootstrap modal for settings -->


<!-- Modal for Logging in -->

<div class="modal fade" id="fbLoginWindow" tabindex="-1" role="dialog" aria-labelledby="loginWindowTitle aria-hidden="true">
  <div class="modal-dialog modal-dialog-centere" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginTitle">Log in with Facebook!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
          <button ng-click="$ctrl.facebook()" type="button" class="btn btn-success btn_blue" >Continue with Facebook</button>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- End Modal for Logging in -->
