<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:block; width: 20%;" id="sidebar">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="p-4 light_back">
        <button class="btn btn-primary menu_button">Home </button>
        <button class="btn btn-primary menu_button" ng-click="$ctrl.getLikedItineraries()">Liked Itineraries</button>
        <button type="button" class="btn btn-primary menu_button" data-toggle="modal" data-target="#exampleModalLong">
          Settings
    </button>
        <button class="btn btn-primary menu_button" data-toggle="modal" data-target="#fbLoginWindow">Log in</button>
      </div>
    </div>
    <nav class="navbar navbar-dark medium_back">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

  <!-- <button class="btn-sidebar-right w3-bar-item w3-button w3-large">Close &times;</button> -->

  <!-- sidebar body cards -> TODO: add angular directives-->
    <!-- <div class="card" style="width: 100%;" ng-repeat="event in $ctrl.itinerary">
      <div class="card-header">
        <h3 class="card-title">Location {{String.fromCharCode(65 + $index)}}</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{event.event.event_name}}</h5>
        <p class="card-text">{{event.venue.address1}}</p>
        <p class="card-text">{{event.venue.city + "," + event.venue.state + "," + event.venue.zip_code}}</p>
        <p class="card-text"></p>
        <p class="card-text">Begin: {{event.start}}</p>
        <p class="card-text">End: {{event.end}}</p>
      </div>
    </div> -->
    <ng-include src="$ctrl.sidebarTemplate"></ng-include>
  <!--sidebar body-->
</div>

<!-- Bootstrapg modal for Settings -->
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Set your custom itinerary search parameters!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
                  <div class="form-inline">
                    <!-- class="col-2 col-form-label" -->
                    <label for="example-time-input" >Start Time&nbsp;&nbsp;</label>
                    <div class="col-10">
                      <input class="form-control" type="time" value="06:00:00" id="example-time-input">
                    </div>
                  </div>
                  <div class="form-inline">
                    <label for="formGroupExampleInput">Start Location &nbsp;</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Current Location">
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      Only Free Events<br>
                    </label>
                    <label>&nbsp;</label>
                    <br>
                  </div>
                    <div class="form-group">
                      <legend>Maximum Radius</legend>
                      <input type="range" class="form-control-range" id="formControlRange" min="1" max = "100" name ="foo">
                      <output for="foo" onforminput="value = foo.valueAsNumber;"></output>
                    </div>
                  <!-- Radio Buttons for Transportation -->
                  <fieldset class="form-inline">
                      <legend>Transportation</legend>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          Car &nbsp; 
                        </label>
                      </div>
                      <div class="form-check">
                      <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                          Public Transportation &nbsp;
                        </label>
                      </div>
                      <div class="form-check">
                      <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                          Walk &nbsp;
                        </label>
                      </div>
                      <div class="form-check">
                      <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                          Bike &nbsp;
                        </label>
                      </div>
                    </fieldset>
                  <!-- End of Radio Buttons -->
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End bootstrap modal for settings -->


<!-- Bootstrap modal for Login -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Set your custom itinerary search parameters!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
                  <div class="form-inline">
                    <!-- class="col-2 col-form-label" -->
                    <label for="example-time-input" >Start Time&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <div class="col-10">
                      <input class="form-control" type="time" value="06:00:00" id="example-time-input">
                    </div>
                  </div>
                  <div class="form-inline">
                    <label for="formGroupExampleInput">Start Location &nbsp;</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Current Location">
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      Only Free Events<br>
                    </label>
                    <label>&nbsp;</label>
                    <br>
                  </div>
                    <div class="form-group">
                      <legend>Maximum Radius</legend>
                      <input type="range" class="form-control-range" id="formControlRange" min="1" max = "100" name ="foo">
                      <output for="foo" onforminput="value = foo.valueAsNumber;"></output>
                    </div>
                  <!-- Radio Buttons for Transportation -->
                  <fieldset class="form-inline">
                      <legend>Transportation</legend>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          Car &nbsp; 
                        </label>
                      </div>
                      <div class="form-check">
                      <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                          Public Transportation &nbsp;
                        </label>
                      </div>
                      <div class="form-check">
                      <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
                          Walk &nbsp;
                        </label>
                      </div>
                      <div class="form-check">
                      <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4">
                          Bike &nbsp;
                        </label>
                      </div>
                    </fieldset>
                  <!-- End of Radio Buttons -->
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End bootstrap modal for Logging in -->
<!-- Modal for Logging in -->

<div class="modal fade" id="fbLoginWindow" tabindex="-1" role="dialog" aria-labelledby="loginWindowTitle aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginTitle">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
          <a href="/auth/facebook" target="_blank" ><button type="button" class="btn btn-success">Facebook</button></a>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- End Modal for Logging in -->
